* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.users-box {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 20px 20px 40px;
}
.user-block p{
    padding-top: 5px;
    margin-left: 20px;
}
